<div class="container">
  <h1 class="header-title">Plan your day!</h1>
  <h2 class="header-subtitle">
    User: Mykola Kholod.
    <span *ngIf="arrTask.length">Count of task {{ arrTask.length }}</span>
  </h2>
  <div class="form-group">
    <input type="text" class="input-add" [(ngModel)]="taskName" />
    <button class="btn-add" (click)="addTask()" [disabled]="!taskName">
      Add
    </button>
  </div>
  <app-list
    [TaskList]="arrTask"
    (changeStatus)="checkStatus($event)"
    (deleteTask)="deleteTask($event)"
    (editTask)="editTask($event)"
  ></app-list>
  <div class="edit-container form-group" *ngIf="editStatus">
    <input type="text" class="input-add" [(ngModel)]="editTaskName" />
    <button class="btn-add" (click)="renameTask()" [disabled]="!editTaskName">
      Save
    </button>
  </div>
</div>
